---
import Spinner from '@components/common/Spinner.astro';
---

<script>
  import mermaid from 'mermaid';

  mermaid.initialize({
    theme: 'light',
    securityLevel: 'loose',
    fontFamily: 'var(--font-family)',
    startOnLoad: false,
  });

  mermaid.run({
    querySelector: '.mermaid__graph',
    postRenderCallback: (id) => {
      const element = document.getElementById(id);
      element.parentNode.dataset.rendered = 'true';
    },
  });
</script>

<style>
  .mermaid {
    position: relative;
    padding: var(--space-sm);
    aspect-ratio: 16 / 9;

    background-color: var(--color-bg-elevated);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius);
  }

  .mermaid__graph:not([data-processed='true']) {
    display: none;
  }

  .mermaid__graph[data-rendered='true'] + .mermaid__spinner {
    display: none;
  }

  .mermaid__graph {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mermaid__graph > :global(svg) {
    max-width: 100%;
    max-height: 100%;
  }

  .mermaid__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mermaid :global(.label-container) {
    fill: var(--color-bg-default) !important;
    stroke: var(--color-border-default) !important;
  }

  .mermaid :global(.node.clickable:hover .label-container) {
    fill: var(--color-bg-subtle) !important;
    stroke: var(--color-border-emphasis) !important;
  }

  .mermaid :global(.nodeLabel) {
    color: var(--color-fg-muted) !important;
  }

  .mermaid :global(.node.clickable:hover .nodeLabel) {
    color: var(--color-fg-default) !important;
  }

  .mermaid :global(.flowchart-link) {
    stroke: var(--color-fg-muted) !important;
  }

  .mermaid :global(.marker) {
    fill: var(--color-fg-muted) !important;
  }
</style>

<div class="mermaid">
  <div class="mermaid__graph">
    <slot />
  </div>
  <Spinner class="mermaid__spinner" />
</div>
