---
import Spinner from '@components/common/Spinner.astro';
---

<script>
  import mermaid from 'mermaid';
  import themeCSS from './mermaid-theme.css.txt?raw';

  mermaid.initialize({
    themeCSS,
    securityLevel: 'loose',
    fontFamily: 'var(--font-family)',
    startOnLoad: false,
  });

  mermaid.run({
    querySelector: '.mermaid__graph',
    postRenderCallback: (id) => {
      const element = document.getElementById(id);
      element.parentNode.dataset.rendered = 'true';
    },
  });
</script>

<style>
  .mermaid {
    position: relative;
    padding: var(--space-sm);
    aspect-ratio: 16 / 9;

    background-color: var(--color-bg-elevated);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius);
  }

  @media screen and (prefers-color-scheme: dark) {
    .mermaid {
      background-color: rgba(0, 0, 0, 0.15);
      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  .mermaid__graph:not([data-processed='true']) {
    display: none;
  }

  .mermaid__graph[data-rendered='true'] + .mermaid__spinner {
    display: none;
  }

  .mermaid__graph {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mermaid__graph > :global(svg) {
    max-width: 100%;
    max-height: 100%;
  }

  .mermaid__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<div class="mermaid">
  <div class="mermaid__graph">
    <slot />
  </div>
  <Spinner class="mermaid__spinner" />
</div>
