---
import { RichContent } from 'astro-theme-docs/components';
import PropertyList from '@components/explorer/PropertyList.astro';
const { schema, ...rest } = Astro.props;
const start = schema.getTemporalStartProperties();
const end = schema.getTemporalEndProperties();
const hasStart = start.length > 0;
const hasEnd = end.length > 0;
---

<section {...rest}>
  <RichContent>
    <h2 class="beta">Semantics</h2>
    <p data-docsearch-ignore>
      FollowTheMoney has well-defined semantics for different representations of
      entities, for example in a network graph or in a timeline.
    </p>

    <ul class="unordered-list" data-docsearch-ignore>
      <li>
        In a network graph, entities should be represented as {
          schema.isEdge ? 'an edge' : 'a vertex'
        }.
      </li>

      {
        hasStart && (
          <li>
            In a timeline, <PropertyList properties={start} /> should be used as
            the temporal start.
            {end.length > 0 && (
              <Fragment>
                <PropertyList properties={end} /> should be used as the temporal
                end.
              </Fragment>
            )}
          </li>
        )
      }

      {
        hasEnd && (
          <li>
            {schema.name} entities have no temporal extent, i.e. they are not
            suitable for representation in a timeline.
          </li>
        )
      }
    </ul>
  </RichContent>
</section>
