---
import path from 'node:path';
const { ref } = Astro.props;

const basePath = Astro.site?.pathname || '/';
const namespace = ref.split('.');
const className = namespace.pop();
const moduleName = namespace.pop();

const url =
  path.join(basePath, 'reference/python', ...namespace, `${moduleName}.html`) +
  `#${className}`;
---

<a href={url}><code>{className}</code></a>
