*.pyc
*.log
.DS_Store
*.egg-info
.vscode/
.idea
.tox/
.mypy_cache/
.env
.coverage
*.sqlite3
*.sqlite
*.recon
build/*
dist/*
balkhashdb/*
coverage-report/*
htmlcov/*
js/dist/*
js/node_modules/*
js/coverage/*
js/.nyc_output
js/compiled
js/.awcache
js/.rpt2_cache
docs/public/ns/ftm.xml