*.pyc
.DS_Store
*.egg-info
.vscode/
.tox/
.env
.coverage
*.sqlite3
*.sqlite
*.recon
build/*
dist/*
coverage-report/*
util/dist/*
util/build/*
enrich/dist/*
enrich/build/*
integrate/dist/*
integrate/build/*