*.pyc
*.log
.DS_Store
*.egg-info
.vscode/
.idea
.tox/
.env
.coverage
*.sqlite3
*.sqlite
*.recon
build/*
dist/*
docs/*.json
balkhashdb/*
coverage-report/*
enrich/dist/*
enrich/build/*
js/dist/*
js/node_modules/*
js/coverage/*
js/.nyc_output
js/compiled
js/.awcache
js/.rpt2_cache
