---
import { defaultModel, Model } from '@alephdata/followthemoney';
const model = new Model(defaultModel);

let { type, text } = Astro.props;
type = model.getType(type);
---

<a href={`/explorer/types/${type.name}`}>{
  Astro.slots.default ? <slot/> : text || type.label
}</a>
