---
import { defaultModel, Model, Schema } from '@alephdata/followthemoney';
const model = new Model(defaultModel);

let { schema, text } = Astro.props;
schema = model.getSchema(schema);
---

<a href={`/explorer/schemata/${schema.name}`}>
  {text || schema.label}
</a>
