---
import SchemaLink from '@components/explorer/SchemaLink.astro';

const { schema } = Astro.props;
const parents = schema.getExtends();
---

<div>
  <h2 class="beta">Extends</h2>

  {
    parents.length > 0 && (
      <>
        <p class="mb-xs">
          The {schema.label} schema extends the following schemata:
        </p>

        <ul class="unordered-list">
          {parents.map((parent) => (
            <li>
              <SchemaLink schema={parent} />
            </li>
          ))}
        </ul>
      </>
    )
  }

  {
    parents.length <= 0 && (
      <p>The {schema.label} schema does not extend any other schemata.</p>
    )
  }
</div>
