---
import sidebar from '../../sidebar.json';
import Nav from './Nav.astro';
import NavSection from './NavSection.astro';
import NavItem from './NavItem.astro';

const allPages = await Astro.glob('/**/*.mdx');

const sections = sidebar.sections.map((section) => ({
  ...section,
  items: section.items
    .map((item) => {
      if (typeof item === 'string') {
        item = { type: 'page', slug: item };
      }

      if (item.type === 'page') {
        const page = allPages.find((page) => page.url === item.slug);

        return {
          link: page.url,
          title: page.frontmatter.title,
          active: page.url === Astro.url.pathname,
        };
      }

      return item;
    }),
}));

---

<Nav>
  {sections.map((section) => (
    <NavSection title={section.title}>
      {section.items.map((item) => (
        <NavItem {...item}>
          {item.title}
        </NavItem>
      ))}
    </NavSection>
  ))}
</Nav>