<header class="py-4 border-b">
  <div class="px-5 max-w-6xl flex mx-auto justify-between">
    <a href="/" class="font-bold"> FollowTheMoney</a>

    <nav>
      <ul>
        <li class="inline-block px-2">
          <a href="/guide">Guide</a>
        </li>

        <li class="inline-block px-2">
          <a href="/explorer">Model Explorer</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
