<style>
  html:not(.nav-visible) .hide,
  html.nav-visible .show {
    display: none;
  }

  svg {
    display: inline;
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('#nav-toggle-button');

    button.addEventListener('click', () => {
      const expanded = button.getAttribute('aria-expanded') === 'true';

      if (expanded) {
        document.documentElement.classList.remove('nav-visible');
        button.setAttribute('aria-expanded', 'false');
      } else {
        document.documentElement.classList.add('nav-visible');
        button.setAttribute('aria-expanded', 'true');
      }
    });
  });
</script>

<button
  id="nav-toggle-button"
  aria-expanded="false"
  aria-controls="sidebar-nav"
  class="block w-full py-3 text-left border-b dark:border-gray-700"
>
  <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path fillRule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clipRule="evenodd" />
  </svg>
  <span class="show">Show navigation</span>
  <span class="hide">Hide navigation</span>
</button>