---
import { defaultModel, Model } from '@alephdata/followthemoney';
import { Stack } from 'astro-theme-docs/components';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PropertyTypesIndexTable from '@components/explorer/PropertyTypesIndexTable.astro';
import SchemataIndexTable from '@components/explorer/SchemataIndexTable.astro';

const model = new Model(defaultModel);
---

<DefaultLayout title="Model Explorer">
  <Stack size="xl">
    <header>
      <h1 class="alpha">Model Explorer</h1>

      <p class="lead">
        Explore the default data model shipped with FollowTheMoney. It currently
        includes <a href="#schemata"
          >{Object.keys(defaultModel.schemata).length} schemata</a
        > and{' '}
        <a href="#types"
          >{Object.keys(defaultModel.types).length} property types</a
        > that can be selected to generate entities.
      </p>
    </header>

    <div>
      <h2 id="schemata" class="beta">Schemata</h2>
      <SchemataIndexTable />
    </div>

    <div>
      <h2 id="types" class="beta">Types</h2>
      <PropertyTypesIndexTable />
    </div>
  </Stack>
</DefaultLayout>
