/*

* background: #333
* foreground: #999
* occrp: #982022
* blue: #0099cc
* ID green: #3a4953

*/

body {
    font-size: 14px;
    background-color: #eee;
}

a.navbar-brand, a.navbar-brand:active, a.navbar-brand:visited, a.navbar-brand:hover {
    font-weight: bolder;
    color: #982022;
}

a, a:active, a:visited, a:hover {
    color: #982022;
}

#airlock {
    position: relative;
    min-height: 80vh;
}

#page {
    padding-bottom: 2em;
    padding-top: 1em;
    background-color: #fff;
}

.command-buttons {
    padding-bottom: 1em;
}

#footer {
    text-align: right;
    color: #999;
    padding-bottom: 2em;
    padding-top: 1em;
}