---
import Markdown from '@astrojs/markdown-component';
import { Model, defaultModel } from '@alephdata/followthemoney';
import { Stack, RichContent } from 'astro-theme-docs/components';
import ExplorerLayout from '@layouts/ExplorerLayout.astro';
import TypeValues from '@components/explorer/TypeValues.astro';

const { name } = Astro.params;
const { type } = Astro.props;

const model = new Model(defaultModel);

export function getStaticPaths() {
  const model = new Model(defaultModel);
  return Object.entries(model.types).map(([name, type]) => ({
    params: { name },
    props: { type },
  }));
}
---

<ExplorerLayout activeType={type}>
  <Stack size="xl">
    <RichContent>
      <h1 class="alpha">{type.label}</h1>
      <Markdown>{type.description}</Markdown>
    </RichContent>

    <TypeValues {type} />
  </Stack>
</ExplorerLayout>
