---
import { Model, defaultModel } from '@alephdata/followthemoney';
import ExplorerLayout from '@layouts/ExplorerLayout.astro';
import TypeValues from '@components/explorer/TypeValues.astro';
import descriptions from '../../../../tmp/typeDescriptions.json';

const { name } = Astro.params;
const { type } = Astro.props;
const description = descriptions[type.name] || null;

const model = new Model(defaultModel);

export function getStaticPaths() {
  const model = new Model(defaultModel);
  return Object.entries(model.types).map(([name, type]) => ({
    params: { name },
    props: { type },
  }));
}
---

<ExplorerLayout activeType={type}>
  <header class="mb-12">
    <h1 class="mb-2">{type.label}</h1>
    <Fragment set:html={description} />

    <TypeValues {type} />
  </header>
</ExplorerLayout>
