<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %} - {{project}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" href="https://cdn.occrp.org/common/favicon/large.png">
</head>
<body>
  <div id="airlock">
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        {{ project }}
      </a>

      <form class="form-inline" action="{{url_for('search')}}">
        <input class="form-control mr-sm-2" type="search" name="q"
              placeholder="Search" value="{{query or ''}}">
        <button class="btn my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div id="page" class="container-fluid">
      <div>
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <div id="footer" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        &copy; 2019, Organized Crime and Corruption Reporting Project
        &middot; data@occrp.org
        &middot; User: {{user}}
        <br/><br/><br/>
      </div>
    </div>
  </div>
</body>
</html>