<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Company Enricher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <style>
    .entity-name {
      position: fixed;
      top: 0px;
      background: white;
      width: 100%;
      z-index: 100;
      padding: 10px;
      font-size: 1.2em;
      height: 300px;
      max-height: 300px;
      overflow: scroll;
      padding-left: 10%;
    }
    .candidates {
      position: relative;
      top: 300px;
    }
    .candidate {
      padding: 10px;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      {{ project }}
    </a>
    <!-- ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul -->
    
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  {% block body %}{% endblock %}
</body>
</html>