{% extends "layout.html" %}
{% import 'macros.html' as macros with context %}

{% block title %}{{query or 'Search'}}{% endblock %}

{% block body %}
  <div class="command-buttons">
    <div class="float-right">
      <form action="{{url_for('next_entity')}}">
        <div class="btn-group" role="group">
          <button class="btn btn-primary" type="submit">
            De-duplicate
          </button>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
  <table class="table table-sm">
    <tr>
      <th>Title</th>
      <th>Countries</th>
    </tr>
    {% for entity in results %}
      <tr>
        <td>
          <a href="{{url_for('entity', entity_id=entity.id)}}">
            {{ entity.proxy.caption }}
          </a>
        </td>
        <td>
          {{ macros.render_values(entity.proxy.countries) }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}