<style>
  div > :global(*:first-child) {
    margin-top: 0;
  }

  div > :global(*:last-child) {
    margin-bottom: 0;
  }
</style>

<div class="py-3 px-4 pl-5 rounded bg-pink-500/20 text-pink-900 border-l-4 border-pink-600 dark:text-pink-200/90">
  <slot />
</div>
