---
import Header from '../components/page/Header.astro';
import Sidebar from '../components/page/Sidebar.astro';

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title} – FollowTheMoney</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-slate-50 dark:bg-gray-900">
    <Header />

    <div class="max-w-7xl flex justify-center mx-auto">
      <div class="flex-grow-0 flex-shrink-0 w-1/5">
        <Sidebar>
          <slot name="sidebar" />
        </Sidebar>
      </div>

      <main class="py-10 px-5 w-3/5">
        <div class="prose dark:prose-invert max-w-4xl">
          <slot />
        </div>
      </main>

      <div class="flew-grow-0 flex-shrink-0 w-1/5">
        <Sidebar>
          {Astro.slots.toc && (
            <strong
              class="uppercase tracking-widest text-sm mb-2 block text-slate-700 font-semibold dark:text-slate-400"
            >
              On this page
            </strong>
          )}
          <slot name="toc" />
        </Sidebar>
      </div>
    </div>
  </body>
</html>
