---
import Header from '../components/page/Header.astro';
import NavToggle from '../components/page/NavToggle.astro';

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title} – FollowTheMoney</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      .default-layout {
        display: flex;
        flex-direction: column;
        max-width: theme('maxWidth.7xl');
        margin: auto;
        padding-inline: theme('space.3');
      }

      .content,
      .sidebar,
      .nav-toggle {
        padding-inline: theme('space.2');
      }

      .content,
      .sidebar {
        margin-block-start: theme('space.6');
      }

      .content {
        order: 1;
        width: 100%;
        padding-block: theme('space.6');
        flex-grow: 1;
        flex-shrink: 1;
      }

      .prose > :global(* + *) {
        margin-top: 1.25rem;
      }

      .sidebar {
        display: none;
      }

      .sidebar-left {
        order: 1;
      }

      .nav-visible .sidebar-left {
        display: block;
      }

      .sidebar-right {
        order: 3;
      }

      @media screen and (min-width: theme('maxWidth.3xl')) {
        .default-layout {
          flex-direction: row;
          gap: theme('space.3');
        }

        .content,
        .sidebar {
          margin-block-start: 0;
          padding-block: theme('space.10');
        }

        .content {
          width: 75%;
        }

        .nav-toggle {
          display: none;
        }

        .sidebar {
          position: sticky;
          top: var(--header-height);
          overflow-y: auto;

          flex-grow: 0;
          flex-shrink: 0;

          width: 25%;
          height: calc(100vh - var(--header-height));
        }

        .sidebar-left {
          display: block;
        }
      }

      @media screen and (min-width: theme('maxWidth.6xl')) {
        .content {
          width: 60%;
        }

        .sidebar-left,
        .sidebar-right {
          display: block;
          width: 20%;
        }
      }
    </style>
  </head>
  <body class="bg-slate-50 dark:bg-gray-900">
    <Header />

    <div class="default-layout">
      {Astro.slots.sidebar && (
        <div class="nav-toggle dark:text-slate-200">
          <NavToggle />
        </div>
      )}

      {Astro.slots.sidebar && (
        <div id="sidebar-nav" class="sidebar sidebar-left bg-slate-50 dark:bg-gray-900">
          <slot name="sidebar" />
        </div>
      )}

      {(Astro.slots.toc || Astro.slots.meta) && (
        <div class="sidebar sidebar-right">
          <slot name="toc" />
          <slot name="meta" />
        </div>
      )}

      <main class="content">
        <div class="prose dark:prose-invert mx-auto">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
