---
import path from 'node:path';
import { getGitFirstTag } from 'astro-theme-docs';
import VersionLink from '@components/explorer/VersionLink.astro';

const { schema } = Astro.props;

let firstVersion = null;
const schemaPath = path.join('followthemoney', 'schema', `${schema.name}.yaml`);

try {
  firstVersion = await getGitFirstTag(schemaPath);
} catch (error) {}
---

<style>
  .SchemaPageHeader {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
    align-items: start;
  }

  .SchemaPageHeader__name {
    margin-block-end: 0;
  }
</style>

<header class="SchemaPageHeader">
  <h1 class="SchemaPageHeader__name alpha">{schema.name}</h1>
  {firstVersion && <VersionLink version={firstVersion} />}

  {
    schema.description && (
      <p class="SchemaPageHeader__description lead">{schema.description}</p>
    )
  }
</header>
